/* @tailwind base; */
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line scss/at-rule-no-unknown */
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
p {
  margin: 0;
}

.app-loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #3498db; /* Blue */
  border-top: 3px solid transparent;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
